*{
			border: 0;
			margin: 0;
			}
		video{
			display: block;
			margin-bottom:30px;
			width: 100%;
			height: 250px;
			background-color: black;
			
		}
		p{
			width: 100%;
			font-weight: bold;
			font-size:14px;
			text-align:center;
			
			border-top: 5px solid #000000;
		}