/* ID选择器：ID选择器的名称以符号“#”开头，会影响页面中id属性值相同的元素
        （区分大小写，且id属性值应该是唯一的）。 */
        #video {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            border:none;
			box-shadow: inset 2px 2px 3px #333333, inset -2px -2px 3px #666666;
        }
 
        #mp4par {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: black;
            float: left;
            overflow: hidden;
        }
        #mp4 {
            position: relative;
            width: 100%;
            height: 100%;
        }
        #controls {
            position: absolute;
            width: 100%;
            height: 75px;
            bottom: -75px;
            z-index: 10;
            background-color: rgba(255, 255, 255, 0.30);
            text-align: center;
            transition: all 0.3s ease-in;
        }
        #mp4par:hover #controls{
            bottom: 0;
        }
        #btntime {
            width: 100%;
            outline: none;
			border-radius: 20px;
			box-shadow: inset 2px 2px 5px #333333, inset -2px -2px 5px #666666;
        }
        #btnsound {
            position: relative;
            top: 5px;
			border-radius: 20px;
		    box-shadow: inset 2px 2px 5px #333333, inset -2px -2px 5px #666666;
        }
        button {
            position: relative;
            width: 50px;
            height: 30px;
            border-radius: 20px;
            outline: none;
            border-style: none;
            background-color:dimgrey;
            margin: 10px;
            color:white;
			font-weight: bold;
			box-shadow:  2px 2px 5px #333333, -2px -2px 5px #666666;
        }
		button:active{
			box-shadow: inset 2px 2px 5px #333333, inset -2px -2px 5px #666666;
		}
        .iconfont {
            font-size: 24px;
            color: #474747;
        }